@page
@model proiectMP.Pages.Allergens.DetailsModel

@{
    ViewData["Title"] = "Details Allergen";
}

<h1>Details Allergen</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Allergen.AllergenName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Allergen.AllergenName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Allergen?.ID">Edit</a> |
    <a asp-page="./Index">Back to Allergens</a>
</div>
