@page
@model proiectMP.Pages.Reservations.DetailsModel

@{
    ViewData["Title"] = "Details Reservation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Reservation.Client.FullName)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Number of People</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.NumberPeople)
        </dd>

        <dt class="col-sm-2">Reservation Date</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.ReservationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reservation?.ID">Edit</a> |
    <a asp-page="./Index">Back to Reservations</a>
</div>
