@page
@model proiectMP.Pages.Reservations.EditModel

@{
    ViewData["Title"] = "Edit Reservation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit Reservation</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reservation.ID" />
            <div class="form-group">
                <label asp-for="Reservation.ClientID" class="control-label">Client Name</label>
                <select asp-for="Reservation.ClientID" class="form-control" asp-items="ViewBag.ClientID"></select>
                <span asp-validation-for="Reservation.ClientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.NumberPeople" class="control-label">Number of People</label>
                <input asp-for="Reservation.NumberPeople" class="form-control" />
                <span asp-validation-for="Reservation.NumberPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.ReservationDate" class="control-label">Reservation Date</label>
                <input asp-for="Reservation.ReservationDate" class="form-control" />
                <span asp-validation-for="Reservation.ReservationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to Reservations</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
